.square {
	width: 9rem;
	height: 9rem;
}

body {
	font-family: "Exo 2", sans-serif;
	font-family: "Pixelify Sans", sans-serif;
}

.restart-button {
	position: absolute;
	bottom: 0.5rem;
	width: 11rem;
	font-size: 1.5rem;
}

.row button {
	font-size: 3rem;
	color: black;
}

//score keeper
.score-tracker {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	font-size: 1.8rem;
	#score-container {
		display: flex;
		justify-content: center;
	}
	#player-1-score {
		border-right: 0.2rem solid black;
		border-top: 0.2rem solid black;
		margin-right: -0.5rem;
		padding: 0.25rem;
	}
	#player-2-score {
		// border-left: 0.2rem solid black;
		border-top: 0.2rem solid black;
		padding: 0.25rem;
	}
}

/* Large devices (laptops/desktops, 1200px and up) */
@media (max-width: 1199.98px) {
	.square {
		width: 9rem;
		height: 9rem;
	}

	.row button {
		font-size: 2.5rem;
	}
	.restart-button {
		width: 9rem;
		font-size: 1.5rem;
		bottom: 0.6rem;
	}

	.score-tracker {
		font-size: 1.5rem;
	}
}

/* Medium devices (tablets, 992px and up) */
@media (max-width: 991.98px) {
	.square {
		width: 8rem;
		height: 8rem;
	}

	.row button {
		font-size: 2.25rem;
	}
	.restart-button {
		bottom: 3rem;
	}
	.score-tracker {
		font-size: 1.3rem;
		#player-1-score {
			padding-right: 0.5rem;
		}
		#player-2-score {
			padding-left: 0.5rem;
		}
	}
}

/* Small devices (landscape phones, 768px and up) */
@media (max-width: 767.98px) {
	.square {
		width: 7rem;
		height: 7rem;
	}
	.row button {
		font-size: 2rem;
	}
	// .restart-button {
	// 	bottom: 0.2rem;
	// }
	.score-tracker {
		position: absolute;
		font-size: 1.3rem;
		top: 8rem;
		left: 0rem;
		right: 0rem;
		#player-1-score {
			padding-right: 0.5rem;
		}
		#player-2-score {
			padding-left: 0.5rem;
		}
	}
	#game-heading {
		position: absolute;
		top: 1.5rem;
	}
}

/* Extra small devices (portrait phones, 576px and up) */
@media (max-width: 575.98px) {
	.square {
		width: 6rem;
		height: 6rem;
	}
	.score-tracker {
		position: absolute;
		font-size: 1.3rem;
		top: 8rem;
		left: 0rem;
		right: 0rem;
		#player-1-score {
			padding-right: 0.5rem;
		}
		#player-2-score {
			padding-left: 0.5rem;
		}
	}

	#game-heading {
		position: absolute;
		top: 1.5rem;
	}
}

/* Extra extra small devices (phones, 320px and up) */
@media (max-width: 319.98px) {
	.square {
		width: 5rem;
		height: 5rem;
	}
	.score-tracker {
		position: absolute;
		font-size: 1.2rem;
		top: 9rem;
		left: 0rem;
		right: 0rem;
		#player-1-score {
			padding-right: 0.5rem;
		}
		#player-2-score {
			padding-left: 0.5rem;
		}
	}

	#game-heading {
		position: absolute;
		top: 1.3rem;
	}
}
