.square {
	width: 100px;
	height: 100px;
}

body {
	font-family: "Exo 2", sans-serif;

	font-family: "Pixelify Sans", sans-serif;
}

.restart-button {
	position: absolute;
	bottom: 100px;
}

.row button {
	font-size: 3rem;
}

@media (max-width: 375px) {
	.restart-button {
		position: absolute;
		bottom: 50px;
	}
}
